body {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
h1 {
    text-align: center;
}
.tile {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    float: left;
    margin: 3px;
}

#puzzle_board {
    overflow: auto;
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
    margin: 0 auto;
}
button {
    width: 60px;
    height: 30px;
    margin: 20px;
}

#puzzle-piece1 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece2 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece3 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece4 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece5 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece6 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece7 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece8 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece9 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece10 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece11 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece12 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece13 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece14 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece15 {background-image: url("gamebg.jpeg"); background-position: top left}
#puzzle-piece16 {background-color: lightgray;}


